body {
    font-family: "Noto Sans Thai", system-ui;
    font-optical-sizing: auto;
}

.leaflet-popup-content {
    font-size: 1.2em;
    font-family: "Noto Sans Thai", system-ui;
}

#map {
    height: 80vh;
    width: 100%;
}