body {
    font-family: "Noto Sans Thai", system-ui;
    font-optical-sizing: auto;
}

.leaflet-popup-content {
    font-size: 1.2em;
    font-family: "Noto Sans Thai", system-ui;
}

#map {
    height: 81vh;
    width: 100%;
}

#pictureUrl {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}